# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Static files
staticfiles/

# Test files
.coverage
.htmlcov/
.tox/
.nox/
coverage.xml

# Dependency directories
node_modules/
bower_components/

# Environment files
.env

# Python package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/
*.whl
*.exe
*.msi
*.rpm
*.deb