{% extends "blog_app/base.html" %}
<!-- prettier-ignore -->
{% block title %}Blog Posts{% endblock %} 
{%block content %}
<div class="main-content-wrapper">
  <div class="posts">
    <h1 class="page-title">My Blog</h1>
    {% for post in posts %}
    <div class="post">
      <h2 class="post-title">
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
      </h2>
      <!-- prettier-ignore -->
      <p class="post-meta">
      Published: {{ post.published_date|date:"F j, Y" }} by {{ post.author.username }}
    </p>
      <p class="post-tags">
        {% for tag in post.tags.all %}
        <span>{{ tag.name }}</span>
        {% empty %}
        <span>No tags</span>
        {% endfor %}
      </p>
      <p class="post-excerpt">{{ post.content|truncatewords:30 }}</p>
      {% if user.is_authenticated and user == post.author %}
      <div class="post-controls">
        <a href="{% url 'post_edit' post.pk %}">Edit</a>
        <a
          href="{% url 'post_delete' post.pk %}"
          onclick="return confirm('Are you sure you want to delete this post?')"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}
  </div>
  <aside class="tags-sidebar">
    <h3>Tags</h3>
    <ul class="tags-list">
      {% for tag in tags %}
      <li><a href="{% url 'tag_posts' tag.id %}">{{ tag.name }}</a></li>
      {% empty %}
      <li>No tags yet.</li>
      {% endfor %}
    </ul>
  </aside>
</div>
{% endblock %}
